<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<!--<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">-->

<form action="#" th:action="@{/admin/user-update}" th:object="${user}" method="post">

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <br>

    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>

    <br>

    <label for="age">Enter age: </label>
    <input type="number" th:field="*{age}" id="age"/>

    <br>

    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>

    <br>

    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>

    <br>

    <input type="submit" value="Update"/>
    <a th:href="@{/logout}">Logout</a>
</form>


</body>
</html>